<div class="container">
    <div class="row">
        <div class="col s12">
            <h3>Salas ({{unitId}})</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <div class="row hide-on-med-and-down">
                    <div class="col s12 m12">
                        <a ui-sref="units" class="btn blue darken-3">voltar</a>
                    </div>
                </div>
                <hr class="hide-on-med-and-down">
                <div class="row">
                    <form>
                        <div class="input-field col s12 l6">
                            <input placeholder="name" id="first_name" type="text" class="validate" ng-model="room.name">
                        </div>
                        <div class="input-field col s12 l2">
                            <button class="btn green right" ng-click="addRoom(room)">adicionar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12">
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>name</th>
                                    <th>quantidade alunos</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="room in rooms|filter: unitId">
                                    <td>{{room.name}}</td>
                                    <td>{{(students|filter: room._id).length}}</td>
                                    <td><button class="btn red" ng-click="deleteRoom(room)">delete</button> <a ui-sref="student({roomId: room._id})" class="btn grey">adicionar aluno</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
