<div class="container">
    <div class="row">
        <div class="col s12">
            <h3>Agendamentos</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <form>
                    <div class="row" ng-repeat="student in scheduling._students">
                        <div input-field class="col s12 m6">
                            <select ng-model="student._id" material-select watch ng-options="student._id as student._room._unit.name + '/' + student._room.name + '/' + student.name for student in students">
                                <option value="">Selecione um aluno</option>
                            </select>
                        </div>
                        <div input-field class="col s3 m1">
                            <button class="btn green" ng-click="addStudent($index)">+</button>
                        </div>
                        <div input-field class="col s3 m1">
                            <button class="btn red" ng-click="deleteStudent($index)">-</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="input_starttime">Time</label>
                            <input id="input_starttime" input-clock data-twelvehour="false" type="text" ng-model="scheduling.start_time">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="input_starttime">Time</label>
                            <input id="input_starttime" input-clock data-twelvehour="false" type="text" ng-model="scheduling.end_time">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <button class="btn green right" ng-click="addScheduling(scheduling)">adicionar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12">
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>date</th>
                                    <th>start_time</th>
                                    <th>end_time</th>
                                    <th>quantidade alunos</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="scheduling in schedulings">
                                    <td>{{scheduling.date}}</td>
                                    <td>{{scheduling.start_time}}</td>
                                    <td>{{scheduling.end_time}}</td>
                                    <td>{{(scheduling._students).length}}</td>
                                    <td><button class="btn red" ng-click="deleteScheduling(scheduling)">delete</button> <a class="btn grey">visualizar</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
