<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h3>Alunos</h3>
    </div>
    <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">name</th>
                <th>email</th>
                <th>ra</th>
                <th>unit</th>
                <th>room</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in students">
                <td class="mdl-data-table__cell--non-numeric">{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.ra}}</td>
                <td>{{student._room._unit.name}}</td>
                <td>{{student._room.name}}</td>
                <td>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="deleteStudent(student)">
                        remover
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
