<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>page student</h3>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="student.name" placeholder="name">
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="student.email" placeholder="email">
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="student.ra" placeholder="ra">
					</div>
					<div class="col-sm-6">
						<select class="form-control" ng-model="student._room" ng-options="room._id as room.name for room in rooms">
							<option value="">Selecione uma sala</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-6 col-md-offset-6" align="right">
						<button class="btn btn-primary" ng-click="addStudent(student)">adicionar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	{{student}}
	<div class="row">
		<div class="col-md-12">
			<hr>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>name</th>
						<th>action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="student in students">
						<td>{{student}}</td>
						<td><button ng-click="deleteStudent(student)" class="btn btn-danger">apagar</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
