<div class="container">
    <div class="row">
        <div class="col s12">
            <h3>Unidades</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                    <form>
                        <div class="input-field col s12 m10">
                            <input id="last_name" type="text" ng-model="unit.name">
                            <label for="last_name">Nome Unidade</label>
                        </div>
                        <div class="input-field col s12 m2">
                            <button class="waves-effect waves-light btn green darken-1" ng-click="addUnit(unit)">adicionar sala
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-panel">
                <table class="striped">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>quantidade salas</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="unit in units">
                            <td>{{unit.name}}</td>
                            <td>{{(rooms|filter: unit._id).length}}</td>
                            <td>
                                <button class="waves-effect waves-light btn red darken-1" ng-click="deleteUnit(unit)">remover</button>
                                <a class="waves-effect waves-light btn grey darken-1" ui-sref="rooms({unitId: unit._id})">adicionar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
